/* importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

/* common styles */
body{
    font-family: 'Poppins', sans-serif;
    background: #FFFFFF;
    margin: 0;
    padding: 0;
}
/* header styling */
nav{
    background-color: #E5D68A;
    margin-bottom: 20px;
    padding: 0;
}
.nav-header{
    font-weight: 600;
    margin:0;
    padding:0 20px;
    
}
/* main part styles */

/* upper-section  */
.upper-section{
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
}
.section-article{
    width: 420px;
}
.section-header{
    font-size: 42px;
    margin-top: 0;
}
.first-button{
    background-color: #1B98F5;
    width: 140px;
    color:white ;
    font-size: 16px;
    padding:10px 24px;
    border-radius: 20px;
}
.first-button .fas{
    float: right;
    padding: 5px;
}

.photo img:first-child{
    position: absolute;
    width: 420px;
    height: 404px;
}
.photo img:last-child{
    position: relative;
    width: 420px;
    height: 404px;
}
/* -------------------------
    second section stylling 
    ------------------------*/
.middle-section{
    margin:100px;
}
.products{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-gap: 20px 10px;
}
.middle-section-header{
    text-align: center;
    margin: 40px 0;
}
article{
    background: #FFFFFF;
    border-radius: 5px;
}
.items>.image img{
    width: 250px;
    height: 200px;
}
.desc{
    padding-right: 30px;
}
.desc .dollar{
    font-size: 14px;
    margin: 5px 0;
}
.desc p,i{
    margin:0;
    font-size: 12px;
}
h4{
    font-size: 18px;
    margin:0;
}
.icons-ratings{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* --------------------------
    Footer stylling start
---------------------------- */
footer{
    text-align: center;
    background: #0A0826;
    color: white;
    padding:20px;
}
footer h4{
    font-size: 16px;
}
footer p{
    margin: 0;
    font-size: 12px;
}
footer .fab{
    padding:0 5px;
}
/* --------------------
    responsive this styles 
-----------------------*/
@media (max-width:688px) { 
    /* upper section responsive */
    .upper-section{
        flex-direction: column;
        margin:0 20px;
    }
    .photo{
        order:1;
    }
    .section-article{
        order:2;
    }
    .section-article{
        width:100%;
    }
    .photo img{
        max-width: 270px;
    }

    /* .middle-section */
    .products{
        grid-template-columns: 1fr;
        justify-content: center;
    }

    
}

